@import './styles/Variables.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
}

li{
    background-color: $listDefaultLightColor;
    padding: 10px 5px;
    text-align: center;
    font-weight: 600;
    color: $listLightTextColor;
    a{
      font-weight: 600;
      text-decoration: none;
      color: $listLightTextColor;
    }
    &:hover{
      background-color: $listHoverLightColor;
      color: $listTextColor;
      a{
        color: $listTextColor;
      }
    }
}
