@import '../../../styles/@mixin.scss';

.signUp_container{
  display: flex;
  justify-content: center;
  .signUp_subContainer{
    @include formContainer()
  };
  .errorText{
    @include formError()
  };
  .resetPassText{
    text-decoration: none;
    color: $mainColor;
    font-family: cursive;
    font-size: 15px;
  }
}

