@import '../../../styles/@mixin.scss';
@import "../../../styles/Variables.scss";

.signUp_container{
  display: flex;
  justify-content: center;
  .signUp_subContainer{
    @include formContainer()
  };
  .errorText{
    @include formError()
  };
  .formBlock{
    display: flex;
    flex-direction: row;
    .formSubBlock{
      padding-left: 10px;
      padding-right: 10px;
    }
  };
  .resetPassText{
    text-decoration: none;
    color: $mainColor;
    font-family: cursive;
    font-size: 15px;
  }
}

