@import './Variables.scss';

//blocks
@mixin centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin spaceAroundContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin spaceBetweemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin columnBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//custom

@mixin logoTitle {
    text-decoration: none;
    font-family: cursive;
    font-size: 3rem;
    color: $logoColor;
    padding-left: 40px;
}