//colors

//blocks
$mainColor: #19222A;
$form_border: #000;


//texts
$lightFontColor: #fffafa;
$listLightTextColor: aliceblue;
$listTextColor: #000015;
$logoColor: #c4c3c2;
$form_error: red;

//list
$listDefaultLightColor: #59646d;
$listHoverLightColor: #8d98a1;





