//colors

//blocks
$mainColor: #19222A;


//texts
$lightFontColor: #fffafa;
$listLightTextColor: aliceblue;
$listTextColor: #000015;
$logoColor: #c4c3c2;

//list
$listDefaultLightColor: #59646d;
$listHoverLightColor: #8d98a1;





